<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- For source code -->
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">

    <!-- TUI normalize -->
    <link rel="stylesheet" href="../../assets/css/common/tp-normalize.css">

    <!-- TUI fonts -->
    <link rel="stylesheet" href="../../assets/css/common/tp-font.css">

    <!-- TUI main -->
    <link rel="stylesheet" href="../../assets/css/common/tp-main.css">

    <!-- TUI table -->
    <link rel="stylesheet" href="assets/css/common/tp-table.css">

    <!-- TUI form -->
    <link rel="stylesheet" href="assets/css/common/tp-form.css">


    <!-- Common styles for listing and package detail -->
    <link rel="stylesheet" href="assets/css/common/layout.css">

    <!-- Package styling direct from Sass partial  -->
    <link rel="stylesheet" href="assets/css/listing/layout.css">

    <title>Thumbprint UI</title>
</head>
<body>

    <div class="doc-wrap">
        <div class="doc-title">
            Thumbprint UI
        </div>
        <div class="doc-head">
            <div class="doc-filters">
                <input type="text" class="tp-text-input">
            </div>
        </div>

        <table class="tp-table tp-table--hover doc-table">
            <thead>
                <tr>
                    <th>Package</th>
                    <th>Version</th>
                </tr>
            </thead>
            <tbody id="content">
            </tbody>
        </table>
    </div>

    <script id="hlb-packages" type="text/x-handlebars-template">
       <tr class="doc-section">
           <td colspan="4" class="doc-section__title">{{title}}</td>
       </tr>
       {{#each packages}}
       <tr class="doc-package" data-package-path="{{cleanName name}}/{{version}}/index.html">
           <td>
               <div class="doc-package__title">{{cleanName name}}</div>
               <div class="doc-package__description">{{description}}</div>
           </td>
           <td class="doc-package__version">{{version}}</td>
       </tr>
       {{/each}}
    </script>


    <script src="assets/js/common/handlebars.min.js" type="text/javascript"></script>
    <script src="assets/js/common/jquery.min.js" type="text/javascript"></script>
    <script src="assets/js/listing/listing.js" type="text/javascript"></script>
</body>
</html>
