.doc-package .doc-wrap > p,
.doc-package .doc-wrap > ul > li,
.doc-package .doc-wrap > ol > li {
    font-size: 14px;
    max-width: 700px;
}

.doc-package .doc-wrap > ol,
.doc-package .doc-wrap > ul {
    margin-bottom: 12px;
    margin-left: 30px;
    list-style: disc;
}

.doc-package .doc-wrap > ol {
    list-style: decimal;
}

/*Hide the H1 that displays the full component name*/
.doc-package h1[id^="-tp-ui-"] {
    display: none;
}

.doc-package h2:first-of-type {
    font-size: 28px;
    margin: 0 0 15px;
}

.doc-package h2 {
    font-size: 18px;
    font-weight: 500;
    margin: 50px 0 10px;
}

.doc-package h3 {
    font-size: 16px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.doc-big-title {
    margin-top: 50px;
    font-size: 40px;
}

.doc-package p {
    margin-top: 0;
}

.doc-package .doc-meta {
    font-size: 14px;
    margin-bottom: 30px;
}

.doc-package .doc-meta td {
    padding-right: 10px;
}

.doc-package #change-log {
    font-size: 30px;
}

.doc-example {
    padding: 20px;
    background: #fafafa;
}

.doc-example--white {
    background: #fff;
    border: 1px solid #f5f5f5;
}

.doc-example--dark {
    background: #444;
}

.doc-wrap > pre,
.doc-pre-example {
    margin: 0;
    position: relative;
    overflow-x: scroll;
    max-height: 300px;
    font-size: 12px;
    line-height: 1.5;
    border: 1px solid #f5f5f5;
    padding: 15px;
    line-height: 18px;
    margin-bottom: 20px;
}

.doc-example + .doc-pre-example {
    border-top: 0;
}

.doc-example-box {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #ddd;
    border-radius: 2px;
    border: 1px solid #ccc;
}
