.doc-table .doc-section__title {
    font-weight: 600;
    padding-top: 20px;
    border-bottom: 1px solid #ddd;
    color: #aaa;
}

.doc-table th {
    color: #aaa;
    font-size: 12px;
    padding-bottom: 0;
}

.doc-table th:last-child,
.doc-table td:last-child  {
    padding-right: 10px;
}

.doc-table th:first-child,
.doc-table td:first-child {
    padding-left: 10px;
    width: 100%;
}

.doc-table .doc-package {
    font-size: 14px;
}

.doc-table .doc-package:hover {
    background: #f5f5f5;
    cursor: pointer;
}

.doc-tag {
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: 2px;
    padding: 4px 8px;
    line-height: 1;
    color: #fff;
    font-weight: 600;
    display: inline-block;
    white-space: nowrap;
}

.doc-tag--active {
    background: #63cb76;
}

.doc-tag--deprecated {
    background: #ff4847;
}

.doc-tag--experimental {
    background: #3f93f3;
}

.doc-package__title {
    font-weight: 600;
}

.doc-package__version {
    font-family: monospace;
    font-size: 12px;
}

.doc-package__updated {
    font-size: 12px;
    white-space: nowrap;
}

.doc-table .doc-section:hover {
    background: none;
    cursor: default;
}

.doc-head {
    font-size: 12px;
    margin-bottom: 32px;
}

.doc-filters {
    display: flex;
    align-items: center;
}

.doc-filters .doc-filters__title {
    font-weight: 600;
}

.doc-filters .doc-filters__title {
    margin-right: 16px;
}
.doc-filters .tp-input-row {
    margin-right: 12px;
    margin-top: 0;
}

.doc-title {
    margin-bottom: 30px;
    font-weight: 500;
}


.doc-example {
    background: #fafafa;
    padding: 20px;
    margin-bottom: 20px;
}

.package-meta {
    max-width: 600px;
    margin-bottom: 20px;
}

.tp-table--meta {
    font-size: 14px;
    width: auto;
    margin-top: 40px;
}

h1 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
}

h2 {
    font-weight: 500;
    margin-bottom: 8px;
}
