body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin-bottom: .75em;
}

.doc-wrap {
    max-width: 1020px;
    padding: 40px 20px;
    margin-left: auto;
    margin-right: auto;
}

pre, code {
    font-family: 'Source Code Pro';
    font-size: 12px;
    margin-bottom: 15px;
}
