@font-face {
    font-family: 'Avenir';
    font-weight: 400;
    src: url("//thumbprint.thumbtack.com/asset/font/721263/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2") format("woff2"), url("//thumbprint.thumbtack.com/asset/font/721263/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff")
}

@font-face {
    font-family: 'Avenir';
    font-weight: 500;
    src: url("//thumbprint.thumbtack.com/asset/font/721275/627fbb5a-3bae-4cd9-b617-2f923e29d55e.woff2") format("woff2"), url("//thumbprint.thumbtack.com/asset/font/721275/f26faddb-86cc-4477-a253-1e1287684336.woff") format("woff")
}

@font-face {
    font-family: 'Avenir';
    font-weight: 600;
    src: url("//thumbprint.thumbtack.com/asset/font/721269/aad99a1f-7917-4dd6-bbb5-b07cedbff64f.woff2") format("woff2"), url("//thumbprint.thumbtack.com/asset/font/721269/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format("woff")
}
