html {
    background-color: white;
}

body {
    color: #4e4d4d;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

p {
    margin-bottom: 12px;
}
