.tp-table {
    width: 100%;
    font-size: inherit
}

.tp-table th, .tp-table td {
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px
}

.tp-table th:first-child, .tp-table td:first-child {
    padding-left: 0
}

.tp-table th {
    font-weight: 500;
    font-size: 16px;
    color: #8d9494;
    text-align: left
}

.tp-table th[field] {
    cursor: pointer
}

.tp-table td {
    vertical-align: top
}

.tp-table .tp-number {
    text-align: right
}

.tp-table .tp-cell-collapse {
    width: 1%
}

.tp-table--rule>thead>th, .tp-table--rule-bottom>thead>th {
    padding-bottom: 8px
}

.tp-table--rule>thead>tr, .tp-table--rule-bottom>thead>tr {
    border-bottom: 1px solid #e1e3e3
}

.tp-table--rule>tbody>tr, .tp-table--rule-bottom>tbody>tr {
    border-bottom: 1px solid #e1e3e3
}

.tp-table--rule>tbody>tr:first-child, .tp-table--rule-bottom>tbody>tr:first-child {
    border-bottom: 1px solid #e1e3e3
}

.tp-table--rule>tbody>tr:last-child, .tp-table--rule-bottom>tbody>tr:last-child {
    border-bottom: none
}

.tp-table--rule-bottom>tbody>tr:last-child {
    border-bottom: 1px solid #e1e3e3
}

.tp-table--wall>thead>tr>th, .tp-table--wall>tbody>tr>td {
    border-left: 1px solid #e1e3e3;
    padding-right: 8px
}

.tp-table--wall>thead>tr>th:first-child, .tp-table--wall>tbody>tr>td:first-child {
    border-left: 0
}

.tp-table--hover>tbody>tr:hover {
    background-color: #fafafa;
    cursor: pointer
}

.tp-table--hover>thead>tr>th:first-child, .tp-table--hover>tbody>tr>td:first-child {
    padding-left: 8px
}

.tp-table--hover>thead>tr>th:last-child, .tp-table--hover>tbody>tr>td:last-child {
    padding-right: 8px
}

.tp-table--loose th, .tp-table--loose td {
    padding-left: 8px;
    padding-right: 8px
}

.tp-table--loose th:first-child, .tp-table--loose td:first-child {
    padding-left: 16px
}

.tp-table--loose th:last-child, .tp-table--loose td:last-child {
    padding-right: 16px
}

.tp-table--loose th {
    padding-top: 4px;
    padding-bottom: 4px
}

.tp-table--loose td {
    padding-top: 8px;
    padding-bottom: 8px
}

.tp-table--add-row tbody>tr:first-child>td {
    padding-top: 0
}

.tp-table--add-row td {
    padding-bottom: 8px
}

.tp-table--add-row__controls {
    width: 1%;
    white-space: nowrap
}

.tp-table-row--active {
    background-color: #fafafa
}

.tp-table--scroll {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%
}

.tp-table--scroll thead {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: none;
    flex: none
}

.tp-table--scroll tbody {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    overflow-y: auto;
    min-height: 0;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

.tp-table--scroll tr {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: none;
    flex: none;
    width: 100%
}

.tp-table--scroll th, .tp-table--scroll td {
    display: block
}
